<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>It's Candy</title>
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<style type="text/css" src="./candystore/CSS"></style>
</head>
<body>
	









	<footer>
		<div>
			<a href="www.facebook.com"><img src="/images/facebook-image.jpg" id="facebook"></a>
			<a href="www.instagram.com"><img src="/candystore/public/images/instagram.jpeg" id="instagram"></a>
			<a href="www.twitter.com"><img src="/candystore/public/images/twitter-big.png" id="twitter"></a>
		</div>
		<div>
			<p>Copyright It's Candy</p>
		</div>
		<div>
			<p>Join for sweet perks!</p>
	</footer>
</body>
</html>