<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>It's Candy</title>
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 <script src='/public/javascript/script.js'
</head>
<body>
	
</body>
</html>