<div class="container">
<div class="about-us-text">
<p class="top-para">It's Candy has over 500 items to choose from, but we only have room for a portion of our products online. We are constantly rotating our offerings, but if there is something specific you want and don't see, please contact us. We will help you hunt down your favorite candy!</p>
<p class="text-only">Can It's Candy do custom gift baskets or products?
Yes! We can handle all standard and custom orders. If you have a specific product in mind, we can help you put together as much or as little as you need. Stuck and need ideas? We will be more than happy to assist you in creating a one of a kind basket.</p>

<p class="text-only">Can It's Candy personalize something?
Yes. We have a wide variety of items that can be personalized to say anything!</p>
<p class="text-only">Does It's Candy sell sugar-free candy?
Yes, we do offer sugar-free candy.</p>

<p class="text-only">PAYMENT</p>

<p class="text-only">It's Candy accepts Visa, MasterCard, Discover and American Express, ATM cards with the Visa or Mastercard logo and Gift Cards.</p>

<p class="text-only">Does It's Candy Bar offer wedding or party favors?
Yes, we offer a large assortment of personalized and general party favors that would compliment your party "favorably"!</p>

<p class="text-only">Does It's Candy produce or offer Corporate Gifts?
Yes, we do!</p>

<p class="text-only">PLACING AN ORDER</p>

<p class="bottom-para">Can I create an account when I place my order?
Yes, you will have the option to create an account when you place your order. We advise that you do this.</p>
</div>
</div>



