<p id="contact-text">We would LOVE to hear from you. Send us an email telling us your favorite experience with any of our products. Dedicated specialists are here to help you choose the most delicious candies for your next event.</p>




<div class="form-style-3">
<form method="POST" action="/contact">
	<fieldset><legend>Personal</legend>
		<label for="field1"><span>Name<span class="required">*</span></span><input type= "text" class="input-field" name="field1" value="" /></label> 
		<label for="field2"><span>Email<span class="required">*</span></span><input type= "text" class="input-field" name="field2" value="" /></label> 
	</fieldset>
	<fieldset><legend>Message</legend>
		<label for="field3"><span>Message <span class="required"></span></span><textarea name="field3" class="textarea-field"></textarea></label>
		<lable><span>&nbsp;</span><input type="submit" value="submit" /> </lable>
	</form>
</div>

