<p>We would LOVE to hear from you. Send us an email telling us your favorite experience with any of our products. (email address goes here). Dedicated specialists are here to help you choose the most b=dellicious candies for your next event.</p>

<p>We invite you to contact us with your questions and comments.By Phone: 
Customer service, please call (888 888 8888) between 8 am and 9 pm seven days a week (ET) 
Corporate office: (315) 364-7123 between 8 am and 5 pm Monday - Friday (ET)By Mail: Please write to: Address. 