<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>It's Candy</title>
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
</head>
<body>
	
<div>
	<ul>
		<li><a href src="#">Products</a></li>
		<li><a href src="#">About Us</a></li>
		<li><a href src="#">Contact Page</a></li>
		
	</ul>

</div>


	<% yield %>
</body>
</html>