<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>It's Candy</title>
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/CSS/mystyle.css">
</head>
<body>
	









	<footer>
		<div>
			<a href="www.facebook.com"><img src="images/facebook_logo.jpg" id="facebook"></a>
			<a href="www.instagram.com"><img src="images/instagram.jpeg" id="instagram"></a>
			<a href="www.twitter.com"><img src="images/twitter-big.png" id="twitter"></a>
		</div>
		<div>
			<p>Copyright It's Candy</p>
		</div>
		<div>
			<p>Join for sweet perks!</p>
	</footer>
</body>
</html>