<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>It's Candy</title>
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/CSS/mystyle.css">
</head>
<body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 <script src='/public/javascript/script.js'> </script>

</head>
<body>
	
<div>
	<ul class="dropdown">
		<li><a href src="#">Products</a></li>
		<ul>
			<li><a href="…">Truffles</a></li>
			<li><a href="…">Lollipops</a></li>
			<li><a href="…">Gourmet Popcorn</a></li>
		</ul>

		<li><a href src="#">About Us</a></li>
		<ul>
			<li><a href="…">Our Story</a></li>
			<li><a href="…">Inspiration</a></li>
		</ul>

		<li><a href src="#">Contact Page</a></li>
		<ul>
			<li><a href="…">Get in touch!</a></li>
			<li><a href="…">Our phone Number</a></li>
		</ul>
	</div>

	 


	<% yield %>




	<footer>
		<div>
			<a href="www.facebook.com"><img src="images/facebook_logo.jpg" id="facebook"></a>
			<a href="www.instagram.com"><img src="images/instagram.jpeg" id="instagram"></a>
			<a href="www.twitter.com"><img src="images/twitter-big.png" id="twitter"></a>
		</div>
		<div>
			<p id="copyright">Copyright It's Candy</p>
			<p id="perks">Join for sweet perks!</p>
		</div>
	</footer>
</body>
</html>



</html>
