
<link rel="stylesheet" type="text/css" href="/CSS/mystyle.css">


<ul class="photo-grid">
<div>
	<ul>
	<li>
		<a href="/images/gummybear.jpg">
			<figure>
				<img src="/images/gummybear.jpg" height="220" width="440" alt="Gummy Bears">
				<figcaption><p>Gummy Bears</p></figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="/images/truffles.jpg">
			<figure>
				<img src="/images/truffles.jpg" height="220" width="440" alt="Truffles">
				<figcaption><p>Truffles</p></figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="/images/popcorn.jpg">
			<figure>
				<img src="/images/popcorn.jpg" height="220" width="420" alt="Notre Dame">
				<figcaption><p>Pop Corn</p></figcaption>
			</figure>
		</a>
	</li>

</ul>
</div>




