
<link rel="stylesheet" type="text/css" href="/CSS/productstyle.css">

<ul class="product_list">
	<li>
		<a href="#">
		<img src="https://thepopcornzine.files.wordpress.com/2013/01/13.jpg" width="150" height="150" />
		<span class="text_content"><span>Hi</span></span>
	</a>
	</li>

	<li>
		<img src="https://thepopcornzine.files.wordpress.com/2013/01/13.jpg" width="150" height="150">
		<span class="text_content"><span>Hi</span></span>
	</li>


	<li>
		<img src="https://thepopcornzine.files.wordpress.com/2013/01/13.jpg" width="150" height="150">
		<span class="text_content"><span>Hi</span></span>
	</li>

	<li>
		<img src="https://thepopcornzine.files.wordpress.com/2013/01/13.jpg" width="150" height="150">
		<span class="text_content"><span>Hi</span></span>
	</li>

</ul>





