
<link rel="stylesheet" type="text/css" href="/CSS/mystyle.css">

<ul class="photo-grid">
<<<<<<< HEAD
<li>
<a href="/images/multipops.jpg">
<figure>
<img src="/images/gummybear" height="180" width="320" alt="Gummy Bears">
<figcaption><p>Gummy Bears</p></figcaption>
</figure>
</a>
</li>
<li>
<a href="/images/truffles.jpg">
<figure>
<img src="/images/truffles.jpg" height="180" width="320" alt="Truffles">
<figcaption><p>Truffles</p></figcaption>
</figure>
</a>
</li>
<li><a href="/images/popcorn.jpg">
<figure>
<img src="/images/popcorn.jpg" height="180" width="320" alt="Notre Dame">
<figcaption><p>Pop Corn</p></figcaption>
</figure>
</a>
</li>
=======
	<li>
		<a href="/images/multipops.jpg">
			<figure>
				<img src="/images/gummybear.jpg" height="220" width="420" alt="Gummy Bears">
				<figcaption><p>Gummy Bears</p></figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="/images/truffles.jpg">
			<figure>
				<img src="/images/truffles.jpg" height="220" width="420" alt="Truffles">
				<figcaption><p>Truffles</p></figcaption>
			</figure>
		</a>
	</li>
	<li><a href="/images/popcorn.jpg">
			<figure>
				<img src="/images/popcorn.jpg" height="220" width="420" alt="Notre Dame">
				<figcaption><p>Pop Corn</p></figcaption>
			</figure>
		</a>
	</li>
>>>>>>> 40dcad50e5ab6c01e052d70c5b6737198a2e6440
</ul>




