
body {
  font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
#wrap{
	width: 100%;
}
.dropdown li {
	width: 250px;
	float:left;
}

ul {
	list-style-type: none;
}
.nav_item {
	display: inline-block;
	margin: 
}








































footer {
	font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
	color: #2b2b2b;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	text-align: center;
	color: #00b2c0;
	height: 60px;
	clear:both;
	width:900px;
	margin-top: auto;
	display:inline-block;
}







#instagram {
	max-width: 40px;
	max-height: 40px;
	float: left;

	
}

#facebook {
	max-width: 40px;
	max-height: 40px;
	float: left;

	
}

#twitter {
	max-width: 40px;
	max-height: 40px;
	float: left;

	
}




























