
body {
  font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
#wrap{
	width: 100%;
}
.dropdown li {
	width: 250px;
	float:left;
}

ul {
	list-style-type: none;
}
.nav_item {
	display: inline-block;
	margin: 
}








































footer {
	font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
	color: black;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	text-align: center;
	color: black;
	height: 60px;
	clear:both;
	width: 100%;
	height: 50px;
	margin-top: auto;
	display:inline-block;
	background-color: #ff66cc;
}

#copyright {
	margin-top: 5px;
	float: left;
	margin: auto;

}

#perks{
	margin-top: 5px;
	float: right;
	margin: auto;
}





#instagram {
	margin-top: 10px;
	max-width: 25px;
	max-height: 25px;
	float: left;
	padding-right: 15px;

	
}

#facebook {
	margin-left: 5px;
	margin-top: 10px;
	max-width: 25px;
	max-height: 25px;
	float: left;
	padding-right: 15px;

	
}

#twitter {
	margin-top: 10px;
	max-width: 25px;
	max-height: 25px;
	float: left;
	padding-right: 15px;

	
}




























